*{
    margin:0%;
    padding:0%;

}
html,body{
    height:100%;
    width:100%;
    background-color: black;
}
#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.color{
    position: absolute; 
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border-width: 2px;
    width: 200px;
    height: 300px;
    border-style: solid;
    border-radius: 20px;
    border-color:rgb(228, 226, 225);
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
#card1
{
    
    
    z-index: 5;
}
#card2{
    
    z-index: 4;
    transform:translate(-50%,-50%)rotate(-7deg);
   
}
#card3{
   
    z-index: 3;
    transform: translate(-50%,-50%)rotate(-14deg);
    
}
#card4{
    
    z-index: 2;
    transform: translate(-50%,-50%)rotate(-21deg);
   
}
#card5{
    z-index:1 ;
    transform: translate(-50%,-50%)rotate(-28deg);
}

#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}
#card5:hover{
    z-index: 10;
}